{% extends 'base.html' %}

{% block content %}
    <div class="home-greeting">
        <p class="brand">druud</p>
        <h1>Reliable uptime and performance monitoring</h1>
    </div>

    <div class="home-description">
        <div class="home-description-item">
            <div class="home-description-icon">
                <i class="fa fa-cogs"></i>
            </div>
            <div class="home-description-text">
                <h2>Lipsum dolor</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis sapien augue. Sed vehicula tempor odio, ac aliquam diam ultrices eget.                
            </div>
        </div>

        <div class="home-description-item home-description-item-alt">
            <div class="home-description-icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <div class="home-description-text">
                <h2>Lipsum dolor</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis sapien augue. Sed vehicula tempor odio, ac aliquam diam ultrices eget.                
            </div>
        </div>        
    </div>

    <div class="card card-default">
        <h5>Login</h5>
        <form method="POST">
            <fieldset class="text">
                <div class="errors">
                </div>    
                <label for="username">Username</label>
                <input id="username" type="text" value="" placeholder="Username">
            </fieldset> 

            <fieldset class="text">
                <div class="errors">
                </div>    
                <label for="password">Password</label>
                <input id="password" type="password" value="" placeholder="Password">
            </fieldset>  

            <fieldset>
                <input type="submit" value="Login" class="button">        
            </fieldset>
        </form>
    </div>
{% endblock content %}
