$body-bkg: #f7f7f7;
$brand: #9b4dca;

$text-color: #333;
$text-alternative-color: #dd4814;

$link-color: #9b4dca;
$link-active-color: #dd4814;

$primary-gray: #eaeaea;

$default-card-bkg: #fff;

$btn-default-text: #fff;
$btn-default-bkg: #fea15d;